<div class="top-header">
    <div class="d-flex justify-content-between row">
        <button class="col-2 btn btn-dark left-btn color-btn" (click)="startBtn()">кнопка запуска</button>
        <button class="col-2 btn btn-dark right-btn  color-btn" (click)="endBtn()">кнопка окончания</button>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ng-app-test</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav text-menu-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">АИ-92
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">КЕРОСИН</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ДТ ЗИМНЕЕ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ГАЗОЙЛЬ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">НЕФТЬ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
